<cfoutput>
	<cfset base64tinypngkey = ToBase64('X1u7EVeedXuvwqCH0mgtp6z9CM8mEbFT')>
	<cfimage source="#expandpath('./image.png')#" name="inputimage">
	<cffile action="READBINARY" file="#ExpandPath( './image.png' )#" variable="binImage"/>
	<cfset bodydata = binImage>
	<cfhttp method="post" url="https://api.tinypng.com/shrink" result="res">
		<cfhttpparam type="header" name="Authorization" value="Basic #base64tinypngkey#"/>
		<cfhttpparam type="header" name="Content-Type" value="image/*" />
		<cfhttpparam type="body"  value="#bodydata#" />
	</cfhttp>
	<cfdump var="#res#" />
</cfoutput><cfabort />